<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Fantasy Football</title>
</head>
<body>
    <div class="frosted-glass">
        <h1>Home Page</h1>
        <form action = "updatePredStats" method = "GET">

            <label>Year
                <input name = "year" type="number" min="{{data['year']}}" value="{{data['year']}}">
            </label>
            <button>Update Predicted Stats</button>
            <h2>{{data['message']}}</h2>

        </form>
    </div>
</body>
</html>