<!DOCTYPE html>
<html>
<style>
    
</style>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Fantasy Football</title>
</head>

<body>
    <div class="frosted-glass" style="height: auto; text-align: left; color: white; margin-bottom: 50px">
        <h1 style="text-align: center;">Player Details</h1>
        <hr>   
        <div class="row">
            <div class="column">
                <img src="../static/James_Butler.JPG" style="width: 200px; height: auto">
            </div>
            <div class="column">
                <ul>
                    <li>Name: {{data["player"][1]}} {{data["player"][2]}}</li>
                    <li>Position(s): {{data["positions"]}}</li>
                    <li>Games Played: {{data["games_played"]}}</li>
                    <li>Score: {{data["player"][3]}}</li>
                    <li>Yearly Stats: {{data["player_record"]}}</li>
                </ul>
            </div>
        </div>
        <p>Analysis:</p>
    </div>
</body>
</html>