<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Fantasy Football</title>
</head>

<body>
    <h1>Player Details</h1>
    <br>
        
    <div class="row">
        <p>Detail of a player</p>
        <div class="column">
            <img src="James_Butler.JPG" style="width: 200px; height: auto">
        </div>
        <div class="column">
            <ul>
                <li>Name: {{data["player"][1]}} {{data["player"][2]}}</li>
                {{data["player_record"]}}
                <li>Position: </li>
                <li>Rank: </li>
                <li>Team Played: </li>
                <li>Score: </li>
            </ul>
        </div>
    </div>
    <div>
        <p>Analysis:</p>
    </div>
    
</body>
</html>