<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles.css">
    <style>
        .button_G {
            background: rgba(105, 71, 255, 0.6);
            position: absolute; 
            left: 40%; 
            top: 45%;
        }
        .button_V {
            background: rgba(4, 178, 231, 0.6);
            position: absolute; 
            right: 3%;
        }
    </style>
    <head>
        <title>Fantasy Football</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="newTeam.html"><button class="button_G">Generate Team</button></a>
        <a href="playerPool.html"><button class="button_V">View Players</button></a>
    </body>
</html>