<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Fantasy Football</title>
</head>
<style>
body {
    background: url("./static/background.jpg") fixed no-repeat;
    background-size: cover;
}
</style>
<body>
    <h1>Home Page</h1>
    <a href="newTeam"><button>Generate Team</button></a>
    <a href="playerPool"><button>View Players</button></a>
    <a href="admin"><button>admin</button></a>
</body>
</html>