<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Fantasy Football</title>
</head>
<body>
    <div class="frosted-glass">
        <h1 style="color: #991a1a;">WELCOME TO FANTASY FOOTBALL</h1>
        <hr>
        <a class= "btn btn-primary btn-lg" href="homePage.html">Get Started</a>
    </div>
</body>
</html>