<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Fantasy Football</title>
    </head>
    <body>
        <h1 class='text-center'>Recommend Team</h1>
        <br>
        <div class="d-block text-center">
            <a href="playerPool"><button id="viewbtn"type="button" class="btn btn-info ">View Players</button></a>
        </div>
        <div class="pt-3 text-center">
            <div class="card-group d-inline-flex text-center">
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='James_Butler.JPG') }}" alt="Player Image">
                            <div class="card-body">
                                <h5 class="card-title">James_Butler</h5>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PlayerDetailModal">Player Detail</button>
                                <div class="btn-group" role="group">
                                    <button  type="button" class="btn btn-success">Lock in</button>
                                    <button  type="button" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='Mike_Hart.JPG') }}" alt="Player Image">
                            <div class="card-body">
                                <h5 class="card-title">Mike_Hart</h5>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PlayerDetailModal">Player Detail</button>
                                <div class="btn-group" role="group">
                                    <button  type="button" class="btn btn-success">Lock in</button>
                                    <button  type="button" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='Richard_Quinn.JPG') }}" alt="Player Image">
                            <div class="card-body">
                                <h5 class="card-title">Richard_Quinn</h5>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PlayerDetailModal">Player Detail</button>
                                <div class="btn-group" role="group">
                                    <button  type="button" class="btn btn-success">Lock in</button>
                                    <button  type="button" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='Jason_Taylor.JPG') }}" alt="Player Image">
                            <div class="card-body">
                                <h5 class="card-title">Jason_Taylor</h5>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PlayerDetailModal">Player Detail</button>
                                <div class="btn-group" role="group">
                                    <button  type="button" class="btn btn-success">Lock in</button>
                                    <button  type="button" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="PlayerDetailModal" tabindex="-1" role="dialog" aria-labelledby="PlayerDetailModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Player Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-group">
                            <div class="card">
                                <img class="card-img-top" src="{{ url_for('static', filename='Jason_Taylor.JPG') }}" alt="Player Image">
                                <div class="card-body">
                                    <h5 class="card-title">Analysis</h5>
                                </div>
                                </div>
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">James_Butler</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Name: First Last</li>
                                    <li class="list-group-item">Record: N/A</li>
                                    <li class="list-group-item">Position: QB</li>
                                    <li class="list-group-item">Rank: 1</li>
                                    <li class="list-group-item">Team Played: 1</li>
                                    <li class="list-group-item">Score: 100</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Lock in</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
